body{
    background-image: url("../image/364.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.centerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainForm{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: center;
}
.mainForm .checkRadio{
    display: flex;
    margin-left: 20px;
    color: white;
}
.mainForm .checkRadio>input{
    margin-left: 20px;
    
}
label{
    font-size: 20px;
    color: black;
}
