<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <script src="https://kit.fontawesome.com/5307b7e9eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" , href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="centerBox">
      <form class="mainForm">
        <h1>Form register</h1>
        <div class="form-group" style="width: 40vw;">
            <label for="exampleInputEmail1">First name</label>
            <input
              type="email"
              class="form-control" style="opacity: 0.7;"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            
          </div>
          <div class="form-group" style="width: 40vw;">
            <label for="exampleInputEmail1">Last name</label>
            <input
              type="email"
              class="form-control" style="opacity: 0.7;"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            
          </div>
          <div class="form-group" style="width: 40vw;">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="email"
              class="form-control" style="opacity: 0.7;"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            
          </div>
          <div class="form-group" style="width: 40vw;">
            <label for="exampleInputEmail1">Phone number</label>
            <input
              type="email"
              class="form-control" style="opacity: 0.7;"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            
          </div>
        <div class="form-group" style="width: 40vw;">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control" style="opacity: 0.7;"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control" style="opacity: 0.7;"
            id="exampleInputPassword1"
          />
        </div>
        <label for="exampleInputEmail1">Role</label>
        <div class="checkRadio">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Owner</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Student</label><br>
        </div>
        <div class="form-group form-check">
          <small id="emailHelp" class="form-text text-muted" style="color: black;"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="composeButton">
          <button
            type="submit"
            class="btn btn-primary"
            style="width: 19vw; margin-right: 2vw;"
          >
            Register
          </button>
        
        </div>
      </form>
      
    </div>
  </body>
</html>